<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports-Scheduler App</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white-500">
    <div class="container mx-auto px-4 md:px-8">
        <header class="py-4">
            <h1 class="text-3xl font-semibold text-gray-900">Sports-Scheduler</h1>
            <p class="text-sm text-gray-500">A simple and easy-to-use sports scheduler</p>
        </header>
        <main class="mx-auto max-w-7xl mt-4">
            <section class="py-4">
                <h2 class="text-xl font-semibold text-gray-900">Welcome to Sports-Scheduler</h2>
                <p class="text-sm text-gray-500">Sports-Scheduler is a simple and easy-to-use sports scheduler that
                    allows you to easily keep track of your sports schedules.</p>
                <p class="text-sm text-gray-500">With Sports-Scheduler, you can:</p>
                <ul class="text-sm text-gray-500">
                    <li>Add your favorite sports teams</li>
                    <li>See upcoming games</li>
                    <li>Join the sessions </li>
                    <li>create the sessions</li>
                </ul>
                <p class="text-sm text-#9333ea-500">If you don't have an account yet, <a href="/signup"
                        class="underline">sign up here</a>.</p>
                <p>Login if you  already had an account</p>
                <p class="text-sm text-#9333ea-500">If you don't have an account yet, <a href="/login" class="underline">Log in
                        here</a>.</p>
            </section>
        </main>
    </div>
</body>

</html>